Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 

Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('ratings.csv')
data_2 = pd.read_csv('movies.csv')

In [5]:
data.shape

(100836, 4)

In [8]:
x = data[data['rating'].isin(['5.0'])]
x

        userId  movieId  rating   timestamp
3            1       47     5.0   964983815
4            1       50     5.0   964982931
6            1      101     5.0   964980868
8            1      151     5.0   964984041
9            1      157     5.0   964984100
...        ...      ...     ...         ...
100814     610   158238     5.0  1479545219
100829     610   164179     5.0  1493845631
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[13211 rows x 4 columns]

In [11]:
# x.sort_values(by=['movieId'], ascending=[True]).head(10)

In [14]:
a = (x['movieId'].value_counts().head(1))
a

318    153
Name: movieId, dtype: int64

In [15]:
y = data_2[data_2['movieId'].isin([list(dict(a).keys())[0]])]

In [16]:
y

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [17]:
power = pd.read_csv('power.csv')

In [19]:
filtered_power = power[((power['country']=='Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia')) & ((power['category']==4) | (power['category']==12 | (power['category']==21)) & ((2005<=power['year']) & (power['year'])<=2010)) ]

In [20]:
# показать отфильтрованный список

filtered_power

         country  year  quantity  category
373    Lithuania  2014      39.0         1
374    Lithuania  2013     192.0         1
375    Lithuania  2012     196.0         1
376    Lithuania  2011     171.0         1
377    Lithuania  2010     158.0         1
...          ...   ...       ...       ...
26522  Lithuania  2006       1.0         4
26523  Lithuania  2005       1.0         4
26524  Lithuania  2004       1.0         4
26525  Lithuania  2003       1.0         4
26526  Lithuania  2002       1.0         4

[220 rows x 4 columns]

In [21]:
# ищем уникальные значения:
filtered_power.country.unique()

array(['Lithuania', 'Estonia', 'Latvia'], dtype=object)

In [22]:
filtered_power.category.unique()

array([1, 4], dtype=int64)

In [23]:
filtered_power.year.unique()

array([2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004,
       2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993,
       1992], dtype=int64)

In [25]:
filtered_power.quantity.unique()

array([ 39., 192., 196., 171., 158., 100., 105.,   0.,   3.,   9.,   1.,
        -2.,  -1.,  -7.,   6.,  -6.,  41., 193., 178., 159., 161., 103.,
       112.,   2.,   5.])

In [31]:
# считаем суммарное потребление:
# но почему-то не срабатывает!

sum(filtered_power.query['quantity'])

TypeError: 'method' object is not subscriptable

In [32]:
# считаем суммарное потребление без включения отрицательных значений:
sum(filtered_power.query('quantity > 0')['quantity'])

4707.0

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [41]:
html_1 = 'https://www.rshb.ru/'

In [47]:
df_1 = pd.read_html(html_1, encoding='utf-8')

In [50]:
df_1

[               валюта  покупка  продажа
 0  USD (до 3 000 ед.)    66.95    70.45
 1  USD (от 3 000 ед.)    67.00    70.40
 2  EUR (до 3 000 ед.)    75.20    78.70
 3  EUR (от 3 000 ед.)    75.25    78.65,
     Металл   покупка   продажа
 0   Золото  3 621,00  3 852,00
 1  Серебро      3750      3990,
                Монета продажа  покупка
 0  Георгийпобедоносец   1 850     1400
 1  Георгийпобедоносец  35 200    30400
 2            Славянка  35 500    30600]

In [51]:
df_1[0]

               валюта  покупка  продажа
0  USD (до 3 000 ед.)    66.95    70.45
1  USD (от 3 000 ед.)    67.00    70.40
2  EUR (до 3 000 ед.)    75.20    78.70
3  EUR (от 3 000 ед.)    75.25    78.65

In [52]:
df_1[1]

    Металл   покупка   продажа
0   Золото  3 621,00  3 852,00
1  Серебро      3750      3990

In [53]:
df_1[2]

               Монета продажа  покупка
0  Георгийпобедоносец   1 850     1400
1  Георгийпобедоносец  35 200    30400
2            Славянка  35 500    30600

In [55]:
# вариант без таблиц:
html_2 = 'https://www.svo.aero/ru/departure/timetable'

In [56]:
df_2 = pd.read_html(html_2, encoding='utf-8')

ValueError: No tables found

In [57]:
# Более объемная таблица:
html_3 = 'https://rasp.yandex.ru/station/9600215'

In [58]:
df_3 = pd.read_html(html_3, encoding='utf-8')

In [65]:
df_3

[    0   1   2                                                  3   4  \
 0 NaN NaN NaN  ПоискПочтаКартыМаркетНовостиВидеоКартинкиещёАв... NaN

                      5   6
 0  ВойтиРегион: Москва NaN  ,
        0      1      2       3        4      5         6  \
 0  Поиск  Почта  Карты  Маркет  Новости  Видео  Картинки

                                                    7
 0  ещёАвиабилетыАвтоАфишаДеньгиДискЕГЭМузыкаНедви...  ,
                                                    0
 0  АвиабилетыАвтоАфишаДеньгиДискЕГЭМузыкаНедвижим...,
                 0               1
 0             NaN           Войти
 1             NaN             NaN
 2  Регион: Москва  Регион: Москва,
     0                                                  1
 0 NaN  Точное расписание самолётов, поездов, электрич...,
                           0   1   2   3                                4   5  \
 0  Откудаещё вариантыМосква NaN NaN NaN  Кудаещё вариантыСанкт-Петербург NaN

                                   6
 0  Когдасегодня, завтра, на все дни  ,
                                               0   1      2
 0  любой транспортсамолётпоездэлектричкаавтобус NaN  Найти,
     0                                                  1   2  \
 0 NaN  Табло аэропорта Внуково (Москва). Отправление.... NaN
 1 NaN  вчеравчерасегоднясегоднязавтразавтратаблоаэроэ... NaN

                                                    3   4
 0  var params = {"popupStyle": {"copyPasteField":... NaN
 1  АэропортыВнуковоДомодедовоЖуковскийШереметьево... NaN  ,
     0                                                  1
 0 NaN  var params = {"popupStyle": {"copyPasteField":...,
                      0                                            1      2
 0  ОтправлениеПрибытие  Город, страна, авиакомпания или номер рейса  Найти,
     0      1
 0 NaN  Найти,
        0                                                  1         2  \
 0    NaN                                                NaN       NaN
 1   рейс                                               рейс  терминал
 2    NaN    DP 457 Москва — ЧебоксарыBoeing 737-800, Победа       NaN
 3    NaN  UT 4121 Москва — КурскCanadair regional jet, Ю...       NaN
 4    NaN  7R 121 Москва — КурскCanadair regional jet, Ру...       NaN
 5    NaN  FV 6036 Москва — Санкт-ПетербургAirbus A319, Р...         1
 6    NaN         R3 472 Симферополь — Якутсксамолёт, Якутия       NaN
 7    NaN          RM 927 Москва — ЕреванBoeing 737, Armenia       NaN
 8    NaN  7R 225 Москва — УльяновскBombardier CRJ200, Ру...       NaN
 9    NaN     R3 783 Москва — НерюнгриBoeing 737-700, Якутия       NaN
 10   NaN  A4 292 Москва — Ростов-на-ДонуСухой Суперджет ...       NaN
 11   NaN     W6 2492 Москва — БудапештAirbus А320, Wizz Air       NaN
 12   NaN    DP 413 Москва — ЧелябинскBoeing 737-800, Победа       NaN
 13   NaN     7R 4247 Москва — СургутBoeing 737-800, РусЛайн       NaN
 14   NaN        UT 247 Москва — СургутBoeing 737-800, ЮТэйр       NaN
 15   NaN  DP 403 Москва — ЕкатеринбургBoeing 737-800, По...       NaN
 16   NaN          DP 435 Москва — УфаBoeing 737-800, Победа       NaN
 17   NaN    DP 163 Москва — АстраханьBoeing 737-800, Победа       NaN

                    3                4          5
 0   московское время              NaN        NaN
 1         расписание  ожидаемое время     статус
 2      19:50, 3 июня    20:01, 3 июня  отправлен
 3              20:00            20:00  отправлен
 4              20:00            20:00  отправлен
 5              20:15              NaN  ожидается
 6              20:20            20:20    отменён
 7              21:00              NaN  ожидается
 8              21:10              NaN  ожидается
 9              21:20            19:02  отправлен
 10             21:45              NaN  ожидается
 11             22:15              NaN  ожидается
 12             23:50            23:50  ожидается
 13     00:50, 4 июня    00:50, 4 июня  ожидается
 14             00:50            00:50  ожидается
 15             01:25            01:25  ожидается
 16             01:55            01:55  ожидается
 17             07:05            07:05  ожидается  ,
     0   1   2                                            3  \
 0 NaN NaN NaN  Пользовательское соглашениеПартнёры сервиса

                        4                   5   6
 0  Обратная связьРеклама  © 2009–2020 Яндекс NaN  ]

In [74]:
df_3[11]

,0,1,2,3,4,5
0,NaN,NaN,NaN,московское время,NaN,NaN
1,рейс,рейс,терминал,расписание,ожидаемое время,статус
2,NaN,"DP 457 Москва — ЧебоксарыBoeing 737-800, Победа",NaN,"19:50, 3 июня","20:01, 3 июня",отправлен
3,NaN,"UT 4121 Москва — КурскCanadair regional jet, Ю...",NaN,20:00,20:00,отправлен
4,NaN,"7R 121 Москва — КурскCanadair regional jet, Ру...",NaN,20:00,20:00,отправлен
5,NaN,"FV 6036 Москва — Санкт-ПетербургAirbus A319, Р...",1,20:15,NaN,ожидается
6,NaN,"R3 472 Симферополь — Якутсксамолёт, Якутия",NaN,20:20,20:20,отменён
7,NaN,"RM 927 Москва — ЕреванBoeing 737, Armenia",NaN,21:00,NaN,ожидается
8,NaN,"7R 225 Москва — УльяновскBombardier CRJ200, Ру...",NaN,21:10,NaN,ожидается
9,NaN,"R3 783 Москва — НерюнгриBoeing 737-700, Якутия",NaN,21:20,19:02,отправлен
10,NaN,A4 292 Москва — Ростов-на-ДонуСухой Суперджет ...,NaN,21:45,NaN,ожидается
11,NaN,"W6 2492 Москва — БудапештAirbus А320, Wizz Air",NaN,22:15,NaN,ожидается
12,NaN,"DP 413 Москва — ЧелябинскBoeing 737-800, Победа",NaN,23:50,23:50,ожидается
13,NaN,"7R 4247 Москва — СургутBoeing 737-800, РусЛайн",NaN,"00:50, 4 июня","00:50, 4 июня",ожидается
14,NaN,"UT 247 Москва — СургутBoeing 737-800, ЮТэйр",NaN,00:50,00:50,ожидается
15,NaN,"DP 403 Москва — ЕкатеринбургBoeing 737-800, По...",NaN,01:25,01:25,ожидается
16,NaN,"DP 435 Москва — УфаBoeing 737-800, Победа",NaN,01:55,01:55,ожидается
17,NaN,"DP 163 Москва — АстраханьBoeing 737-800, Победа",NaN,07:05,07:05,ожидается